<mat-card class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{recipe.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="recipe.picture" [alt]="recipe.name">
    <mat-card-content>
      <ng-container>
        <p>
            {{recipe.description}}
        </p>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.quantity}}
                {{ingredient.unit}}
                {{ingredient.ingredient.name}}
            </li>
        </ul>
  
        <ul>
            <li *ngFor="let instruction of recipe.instructions">
                {{instruction}}
            </li>
        </ul>
  
      </ng-container>
      
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button routerLink="/recipes">BACK</button>
    </mat-card-actions>
  
</mat-card>    