.recipe-card {
    max-width: 350px;
    background-color: rgb(209, 209, 209);
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'Courier New', monospace;
}

.recipe-header-image {
    background-size: cover;
}

.mat-card-header {
    font-weight: bold;
}

body {
    background-color: rgb(209, 209, 209);
}

button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}